/* 
    Document   : mobile
    Created on : Dec 7, 2012, 1:30:27 PM
    Author     : sahid
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
a.normal:link {color:#000000;text-decoration:none;}
a.normal:visited {color:#000000;text-decoration:none;}
a.normal:hover {text-decoration:underline;}

root { 
    display: block;
}
.header_web{
    display: block;
    background: url(../images/header.jpg) no-repeat left;
    height: 150px;
}
.headetron{
    padding-top: 70px;
}
.footer {
  padding: 5px 0;
  margin-top: 20px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  list-style-type: none;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

.center_text{
    text-align: center;
}
.mini_font{
    font-size: 10px;
}
.medium{
    width: 50%;
}